In [2]:
# dataframe is two-dimensional data structure i.e. data arranged in tabular fashion in rows and columns.
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

# Create a DataFrame from Lists

In [5]:
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [6]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data, columns = ['name', 'age'], dtype = float)
print(df)

     name   age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

C:\Users\91940\AppData\Local\Temp\ipykernel_8072\3158265186.py:2: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(data, columns = ['name', 'age'], dtype = float)

# Create a DataFrame from Dict of ndarrays / Lists

All the ndarrays must be of same length. 
If index is passed, then the length of the index should equal to the length of the arrays.
If no index is passed, then by default, index will be range(n), where n is the array length.

In [14]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

print('---------------------------------------')

df1 = pd.DataFrame(data, index = range(len(data['Name'])))
print(df1)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42
---------------------------------------
    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

# Create a DataFrame from List of Dicts

In [18]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, dtype=int, index=['first','second'])
print(df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

C:\Users\91940\AppData\Local\Temp\ipykernel_8072\1507823168.py:2: FutureWarning: In a future version, passing float-dtype values containing NaN and an integer dtype will raise IntCastingNaNError (subclass of ValueError) instead of silently ignoring the passed dtype. To retain the old behavior, call Series(arr) or DataFrame(arr) without passing a dtype.
  df = pd.DataFrame(data, dtype=int, index=['first','second'])

In [24]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df1 = pd.DataFrame(data, columns = ['a', 'b'], index = ['first', 'second'])
print(df1)

# dataframe columns must contains dictionary keys, if we specify column other than dictionary key output will result in NaN value.

print('---------------------------------------------------------------------')

df2 = pd.DataFrame(data, columns = ['a', 'b1', 'c'], index = ['first', 'second'], dtype = float)
print(df2)

        a   b
first   1   2
second  5  10
---------------------------------------------------------------------
          a  b1     c
first   1.0 NaN   NaN
second  5.0 NaN  20.0

# Create a DataFrame from Dict of Series

In [26]:
data = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(data)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

# column selection, addition, and deletion

# column selection

In [30]:
print(df['one'])
print('----------------------')
print(df['two'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64
----------------------
a    1
b    2
c    3
d    4
Name: two, dtype: int64

# column addition

In [45]:
data = {'one': pd.Series([1,2,3], index=['a','b','c']),
        'two': pd.Series([1,2,3,4], index=['a','b','c','d'])
       }

df = pd.DataFrame(data)
print(df)

print('---------------------------------------------------------------------')

print('adding new column')
df['three'] = pd.Series([10,20,30], index=['a', 'b', 'c'])
print(df)

print('---------------------------------------------------------------------')

print("Adding a new column using the existing columns in DataFrame:")
df['four'] = df['one'] + df['two']
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
---------------------------------------------------------------------
adding new column
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
---------------------------------------------------------------------
Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0   2.0
b  2.0    2   20.0   4.0
c  3.0    3   30.0   6.0
d  NaN    4    NaN   NaN

# column deletion

In [47]:
data = {'one': pd.Series([1,2,3], index=['a','b','c']),
        'two': pd.Series([1,2,3,4], index=['a','b','c','d']),
        'three': pd.Series([10,20,30], index=['a','b','c'])
       }

df = pd.DataFrame(data)

print(df)

print('---------------------------------------------------------------------')

print('Deleting column using del keyword')

del df['one']

print(df)

print('---------------------------------------------------------------------')

print('Deleting column using pop function')

df.pop('two')

print(df)

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
---------------------------------------------------------------------
Deleting column using del keyword
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
---------------------------------------------------------------------
Deleting column using pop function
   three
a   10.0
b   20.0
c   30.0
d    NaN

# Row Selection, Addition, and Deletion

# row selection

In [52]:
data = {'one': pd.Series([1,2,3], index=['a','b','c']),
        'two': pd.Series([1,2,3,4], index=['a','b','c','d']),
        'three': pd.Series([10,20,30], index=['a','b','c'])
       }

df = pd.DataFrame(data)

print(df)

print('---------------------------------------------------------------------')

# selection by label

print(df.loc['b'])

print('---------------------------------------------------------------------')

# selection by integer loction

print(df.iloc[0])
print(df.iloc[1])
print(df.iloc[2])

print('---------------------------------------------------------------------')

# row slicing

print(df[1:2])

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
---------------------------------------------------------------------
one       2.0
two       2.0
three    20.0
Name: b, dtype: float64
---------------------------------------------------------------------
one       1.0
two       1.0
three    10.0
Name: a, dtype: float64
one       2.0
two       2.0
three    20.0
Name: b, dtype: float64
one       3.0
two       3.0
three    30.0
Name: c, dtype: float64
---------------------------------------------------------------------
   one  two  three
b  2.0    2   20.0

# Addition of Rows

In [59]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)
print(df)

print('--------------------------------------------')

print(df.iloc[1])

print('--------------------------------------------')

print(df.loc[1])

   a  b
0  1  2
1  3  4
0  5  6
1  7  8
--------------------------------------------
a    3
b    4
Name: 1, dtype: int64
--------------------------------------------
   a  b
1  3  4
1  7  8

C:\Users\91940\AppData\Local\Temp\ipykernel_8072\2292844918.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2)

In [61]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)
print(df)

print('--------------------------------------------')

df = df.drop(0)

print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8
--------------------------------------------
   a  b
1  3  4
1  7  8

C:\Users\91940\AppData\Local\Temp\ipykernel_8072\1573753193.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2)